Obj/
Bin/Debug/*.exe
Bin/Debug/*.pdb
Bin/Debug/*.ilk
Bin/Release/*.exe
Bin/Release/*.pdb
Bin/Release/*.ilk

#################
## Visual Studio
#################

# Visual C++ cache files
ipch/
*.aps
*.ncb
*.opensdf
*.sdf

# User-specific files
*.suo
*.user
*.sln.docstates